@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

$backgroundColor:#fafafa;
*{
    font-family:'Noto Sans KR', sans-serif;
}

.wrap{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-width:1236px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    header{
        .cate_li{
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            width:1024px;
            overflow: hidden;
            margin:20px 0 0 0;
            padding: 0;
            list-style: none;
            justify-content: left;
            .cate_el{
                margin:-1px 0 0 -1px;
                box-sizing: border-box;
                width:205.8px;
                height: 48px;
                padding:0 20px 0 20px;
                display: flex;
                align-items: center;
                border:solid 1px #eee;
                a{
                    font-size: 12px;
                    text-decoration: none;
                    color:black;
                    font-weight: 500;
                }
                i{
                    font-size: 12px;
                    color:#cccccc;
                    margin:0 0 0 5px;
                    font-style: normal;
                }
            }
        }
    }
    main{
        width:1024px;
        h1{
            display: block;
            width:100%;
            font-size: 16px;
            margin:50px 0 30px 0;
            padding:0;
            text-align: left;
            span{
                color:red;
            }
        }

        section{
            .item_li{
                display:flex;
                flex-wrap: wrap;
                list-style: none;
                padding:0;
                margin:0;
                justify-content: space-between;
                .item_el{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width:196px;
                    height:290px;
                    background-color: white;
                    margin:0 0 20px 0;
                    border:1px solid #eeeeee;
                    box-sizing: border-box;
                    img{
                        width:196px;
                        height:196px;
                    }
                    a{
                        font-size: 14px;
                        color:black;
                        text-decoration: none;
                        margin:10px 0 20px 0;
                        padding:0 15px 0 15px;
                        width:176px;
                        display: inline-block;
                        font-weight: 400;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: left;
                    }
                    .price_area{
                        display: flex;
                        align-items: center;
                        width:100%;
                        margin:0 0 10px 0;
                        .price{
                            font-size:16px;
                            font-weight: bold;
                            margin-left: 10px;
                        }
                        .unit{
                            font-size: 12px;
                            color:#888888;
                            margin:0 10px 0 auto;
                            
                        }
                    }
                }
            }
        }
    }
}
