body{
    margin:0;
    padding:0;
}

main{
    margin-left:25%;
    margin-right:25%;
}
#kb_title{
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 3%;
}

.kb_SubTitle{
    width: 100%;
    margin-top: 3%;
}

.Rental_Member_Info_Div{
    width:100%;
    height:40px;
    display:inline-block;
}

.Rental_Basic{
    width:46%;
    height:40px;
    float:left;
    font-size:15pt;
    padding:2%;
}

#Rental_Picture_Div{
    width:100%;
    display: inline-block;
    margin-left:4%;
}

.Picture_Div{
    width:280px;
    height:200px;
    float:left;
    border:solid;

}

.Picture_Title{
    width:100%;
    height:30px;
    text-align:center;
    font-size:15pt;
    font-weight: bold;
}

.Image_Div{
    width:280px;
    height:170px;
    text-align: center;
    position:relative;
}

img{
    width:80%;
    height:90%;
}

#Tracking_Title{
    font-size:16pt;
    font-weight: bold;
}

select{
    width:100px;
    height:30px;
}

#input_TrackingNum{
    margin-top:1%;
}

#Tracking_NUM_Input{
    width:250px;
    height:30px;
    margin-left:3%;

}

#Btns{
    text-align:center;
}

button{
    background-color: red;
    width:130px;
    height:50px;
    color:white;
    border:0;
    border-radius: 5px;
}

#Check_Complete{
    padding:1.5%;
}

#Chk_Box{
    width:15px;
    height:15px;
}