#root{
    margin-left:15%;
    margin-right:15%;
    height:auto;
}

#topTitle{
    margin-top:50px;
    width:100%;
    height:50px;
    border:1px solid black;
}

.title{
    text-align:center;
    font-size: xx-large;
    font-family: bold;
    margin-top: 10px;
}

.pImg{
    width:450px;
    height:250px;
}
#productImage{
    margin-top:50px;
    float: left;
    width:60%
}
#productSample{
    margin-top: 50px;
    float: left;
    
    width:39%;
    height:250px;

}

span{
    display: block;
}

.detail_title{
    font-size: x-large;

}

.btn{
    width:100px;
    height:40px;
    margin-top:80px;
    background-color: orange;
    text-align: center;
    margin-left: 60px;
    color:white;
    font: bold;
}

#detail_product01{
    display:inline-block;
    margin-top: 50px;
    width:100%;
    border-top:1px solid black;
}

#detail_product02{
    margin-top:10px;
    width: 100%;   
}

#detail_image{
    width:60%;
    margin-left:20%;
    

}

.img{
    position: absolute;
}
