body{
    margin-left : 320px;
    margin-top : 25px;
}
.title{
    font-size: 25px;
    color : gray;
    font-weight: bold;
    position: relative;
    bottom : 110px;
    right : 350px;
}
.container{
    display: flex;
    position: relative;
    bottom : 80px;
    left : 40px;
}
.item{
    margin-left : 60px;
    &__img{
        width : 194px;
        height : 194px;
    }
    &__info{
        border : 1px solid #F2F2F2;
        width : 192px;
        margin-top: -6px;
    }
    &__info2{
        margin-top: -3px;
        border : 1px solid #F2F2F2;
        width : 192px;
        margin-top: -1px;
        height : 50px;
    }
    &__name{
        font-size: 13px;

        font-weight: bold;
        color : gray;
        text-align: center;
    }
    &__price{
        font-size: 16px;
        font-weight: bold;

        text-align: center;
    }
    &__alert{
        background-color: #4e61ff;
        color : white;
        font-size: 12px;
        text-align: center;
        padding : 8px;
        width : 80px;
        height : 30px;
        border: none;
        border-radius: 4px;
        padding-bottom: 23px;
        cursor : pointer;
        margin-top: 10px;
    }

}