body{
    margin:0;
    padding:0;
}

main{
    margin-left:25%;
    margin-right:25%;
}
#kb_title{
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 3%;
}

table{
    width:100%;
    margin-top:4%;
}

thead{
    background-color: gray;
}

th{
    padding:2%;
    text-align: center;
    border-right: 0.5px dotted black;
    color:white;
}

.tbody_tr{
    padding:2%;
    text-align: center;
}

td{
    padding:2%;
    border:0;
}

tbody{
    border-bottom: 1px solid black;
}

.tbody_tr:hover{
    background-color: #f6f9fc;
}